@keyframes anim-nav {
    0%{
        left: 0;
        opacity: 0;
        width: 32px;
    }
    50%{
        width: 32px;
    }
    75%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
    
}

@keyframes opacidad {
    0%{
        margin-top: -15px;
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes opacidad-2 {
    0%{
        top: 20px;
        filter: blur(12px);
        opacity: 0;
    }
    100%{
        top: 0px;
        opacity: 1;
    }
}
@keyframes opacidad-3 {
    0%{
        top: -40px;
        filter: blur(12px);
        opacity: 0;
    }
    100%{
        top: 0;
        opacity: 1;
    }
}
@keyframes anitool {
    0%{
        left: 3rem;
        filter: blur(1rem) drop-shadow(0px 0px 5px #000);
        opacity: 0;
    }
    100%{
        left: 0;
        filter: blur(0) drop-shadow(8px 8px 10px #000);
        opacity: 0.6;
    }
    
}
@keyframes alto {
    0%{
        border: 0;
        background-color: #000;
    }
    100%{
        opacity: 1;
        background-color: transparent;
        border: 5px solid $color-3;
    }
    
}