main{
    margin-top: 80px;
    display: grid;
    .principal{
        grid-area: 'principal';
        .job{
            opacity: 0;
            position: relative;
            color: $color-6;
            font-family: $fuente-principal;
            text-transform: capitalize;
            text-align: center;
            animation-name: opacidad-2;
            animation-duration: 2200ms;
            animation-delay: 2200ms;
            animation-fill-mode: forwards;
        }
        .nombre{
            opacity: 0;
            position: relative;
            color: $color-3;
            font-family: $fuente-titulos;
            text-transform: uppercase;
            font-weight: 800;
            text-align: center;
            text-shadow: 6px 6px 8px #000;
            animation-name: opacidad-3;
            animation-duration: 2200ms;
            animation-delay: 2000ms;
            animation-fill-mode: forwards;
        }
        .tools{
            display: flex;
            justify-content: space-around;
            @for $i from 1 to 8{
                #i#{$i}{
                    position: relative;
                    opacity: 0;
                    animation-name: anitool;
                    animation-duration: 2000ms;
                    animation-delay: (150 * $i) + 3300ms;
                    animation-fill-mode: forwards;
                    filter: drop-shadow(8px 8px 10px #000);
                    transition: all 520ms ease-in-out;
                    &:hover{
                        transform: scale(1.3);
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .secundario{
        opacity: 0;
        grid-area: secundario;
        border: 5px solid $color-3;
        border-radius: 4rem;
        box-shadow: 10px 10px 25px #000;
        background-color: rgba($color: #000000, $alpha: 0.3);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        animation-name: alto;
        animation-duration: 2800ms;
        animation-delay: 2500ms;
        animation-fill-mode: forwards;
        @for $secrec from 1 to 5{
            #p#{$secrec}{
                animation-name: opacidad;
                animation-duration: 1500ms;
                animation-delay: (520 * $secrec) + 3000ms;
                animation-fill-mode: forwards;
            }
        }
        .personal{
            opacity: 0;
            cursor: pointer;
            border: 3px solid $color-3;
            border-radius: 0rem 1rem 0rem 1rem;
            box-shadow: 10px 10px 25px #000;
            background-color: rgba($color: #000000, $alpha: 0.2);
            margin: 12px 0px;
            padding: 8px;
            min-height: 180px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            transition: all 500ms ease-in-out;
            &:hover{
                transform: scale(1.15);
                box-shadow: 5px 5px 15px #000;
                border: 3px solid $color-6;
                background-color: rgba($color: #000000, $alpha: 0.3);
            }
            img{
                width: 40px;
                filter: drop-shadow(4px 4px 6px #000);
            }
            h2{
                width: 100%;
                text-shadow: 3px 3px 5px #000;
                color: $color-6;
                font-family: $fuente-principal;
                font-size: 18px;
                text-align: center;
            }
            h3{
                @extend h2;
                font-size: 24px;
                margin-top: -40px;
            }
            p{
                @extend h2;
                font-size: 16px;
                text-align: justify;
                margin: 0px 5px;
            }
        }
    }
}
footer{
    display: flex;
    justify-content: center;
    opacity: 0;
    margin-top: 15px;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 70px;
    animation-name: opacidad;
    animation-duration: 250ms;
    animation-delay: 7s;
    animation-fill-mode: forwards;
    div{
        margin: 0px 10px;
        h2{
            color: $color-3;
            font-size: 1.3rem;
            font-family: $fuente-titulos;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
            padding-top: 10px;
            text-shadow: 5px 5px 7px #000;
        }
        p{
            color: $color-6;
            font-size: 0.9rem;
            font-family: $fuente-principal;
            text-align: center;
        }
        img{
            height: 75px;
            filter: drop-shadow(3px 3px 1px $color-3)
        }
    }
}
@media (min-width: 1000px){
    main{
        grid-template-areas:
        "principal principal principal principal principal"
        "secundario secundario secundario secundario secundario"
        ". footer footer footer .";
        .principal{
            .job{
                margin: 70px 0 0 420px;
                font-size: 16px;
            }
            .nombre{
                font-size: 60px;
                margin-top: -14px;
            }
            .tools{
            width: 50%;
            margin-left: 25%;
                img{
                    width: 7%;
                }
            }
        }
        .secundario{
            width: 90%;
            min-height: 450px;
            margin: 150px 2.5%;
            padding: 25px 2.5%;
            .personal{
                width: 40%;
            }
        }
    }
}
@media (min-width: 769px) and (max-width: 999px){
    main{
        grid-template-areas:
        "principal principal principal principal principal"
        "secundario secundario secundario secundario secundario"
        ". footer footer footer .";
        .principal{
            .job{
                margin: 70px 0 0 420px;
                font-size: 16px;
            }
            .nombre{
                font-size: 60px;
                margin-top: -14px;
            }
            .tools{
                width: 60%;
                margin-left: 20%;
                img{
                    width: 7%;
                }
            }
        }
        .secundario{
            width: 90%;
            min-height: 450px;
            margin: 150px 2.5%;
            padding: 25px 2.5%;
            .personal{
                width: 40%;
            }
        }
    }
}
@media (min-width: 500px) and (max-width: 768px){
    main{
        grid-template-areas:
        "principal principal principal"
        "secundario secundario secundario"
        "footer footer footer";
        .principal{
            .job{
                margin: 70px 0 0 220px;
                font-size: 12px;
            }
            .nombre{
                font-size: 40px;
                margin-top: -10px;
            }
            .tools{
                width: 60%;
                margin-left: 20%;
                img{
                    width: 10%;
                }
            }
        }
        .secundario{
            width: 80%;
            margin: 150px 5%;
            padding: 25px 5%;
            .personal{
                width: 75%;
            }
        }
    }
}
@media (max-width: 499px){
    main{
        grid-template-areas: 
        "principal"
        "secundario"
        "footer";
        .principal{
            .job{
                margin-top: 60px;
                font-size: 12px;
            }
            .nombre{
                font-size: 30px;
                margin-top: -3px;
            }
            .tools{
                width: 70%;
                margin-left: 15%;
                img{
                    width: 10%;
                }
            }
        }
        .secundario{
            width: 80%;
            margin: 150px 5%;
            padding: 25px 5%;
            .personal{
                width: 75%;
            }
        }
    }
}