main{
    margin-top: 80px;
    display: grid;
    #mi-nombre{
        grid-area: principal;
    }
    .principal{
        position: relative;
        .job{
            opacity: 0;
            position: relative;
            color: $color-6;
            font-family: $fuente-principal;
            text-transform: capitalize;
            text-align: center;
            animation-name: opacidad-2;
            animation-duration: 2200ms;
            animation-delay: 2200ms;
            animation-fill-mode: forwards;
        }
        .nombre{
            opacity: 0;
            position: relative;
            color: $color-3;
            font-family: $fuente-titulos;
            text-transform: uppercase;
            font-weight: 800;
            text-align: center;
            text-shadow: 6px 6px 8px #000;
            animation-name: opacidad-3;
            animation-duration: 2200ms;
            animation-delay: 2000ms;
            animation-fill-mode: forwards;
        }
        .tools{
            display: flex;
            justify-content: space-around;
            @for $i from 1 to 8{
                #i#{$i}{
                    position: relative;
                    opacity: 0;
                    animation-name: anitool;
                    animation-duration: 2000ms;
                    animation-delay: (150 * $i) + 3300ms;
                    animation-fill-mode: forwards;
                    filter: drop-shadow(8px 8px 10px #000);
                    transition: all 520ms ease-in-out;
                    &:hover{
                        transform: scale(1.3);
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
