footer{
    display: flex;
    justify-content: center;
    opacity: 0;
    margin-top: 15px;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 70px;
    animation-name: opacidad;
    animation-duration: 250ms;
    animation-delay: 7s;
    animation-fill-mode: forwards;
    div{
        margin: 0px 10px;
        h2{
            color: $color-3;
            font-size: 1.3rem;
            font-family: $fuente-titulos;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
            padding-top: 10px;
            text-shadow: 5px 5px 7px #000;
        }
        p{
            color: $color-6;
            font-size: 0.9rem;
            font-family: $fuente-principal;
            text-align: center;
        }
        img{
            height: 75px;
            filter: drop-shadow(3px 3px 1px $color-3)
        }
    }
}