footer{
    border-top: 2px solid $color-3;
    box-shadow: 0 -7px 10px rgba($color: #000000, $alpha: .6);
    display: flex;
    justify-content: space-around;
    opacity: 0;
    margin-top: 15px;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 120px;
    animation-name: opacidad;
    animation-duration: 250ms;
    animation-delay: 4s;
    animation-fill-mode: forwards;
    div{
        margin: 0px 10px;
        h2{
            color: $color-3;
            font-size: 1.3rem;
            font-family: $fuente-titulos;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
            padding-top: 10px;
            text-shadow: 5px 5px 7px #000;
        }
        p{
            color: $color-6;
            font-size: 0.9rem;
            font-family: $fuente-principal;
            text-align: center;
        }
        img{
            height: 75px;
            margin: 10px;
            filter: drop-shadow(3px 3px 1px $color-3)
        }
        .ctc{
            margin-top: 20px;
            height: 30px;
            transition: all 450ms ease-in-out;
            filter: sepia(0%) drop-shadow(0 0 0 rgba(0,0,0,0));
            &:hover{
                transform: scale(1.3);
                filter: sepia(70%) drop-shadow(8px 8px 8px #000);
            }
        }
    }
}