@media (min-width: 769px) and (max-width: 999px){
    .navegacion{
        width: 60%;
        left: 20%;
    }
    main{
        grid-template-areas:
        "principal principal principal principal principal"
        "secundario secundario secundario secundario secundario"
        "terza terza terza terza terza"
        "trb trb trb trb trb"
        ". footer footer footer .";
        .principal{
            .job{
                margin: 70px 0 0 420px;
                font-size: 16px;
            }
            .nombre{
                font-size: 60px;
                margin-top: -14px;
            }
            .tools{
                width: 60%;
                margin-left: 20%;
                img{
                    width: 7%;
                }
            }
        }
        .secundario{
            width: 90%;
            height: auto;
            margin: 150px 2.5%;
            padding: 25px 2.5%;
            #p1, #p2{
                height: 310px;
            }
            .personal{
                width: 40%;
            }
        }
    }
}