@media (min-width: 1000px){
    .navegacion{
        width: 60%;
        left: 20%;
    }

    main{
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas:
        "principal principal principal principal principal"
        "secundario secundario secundario secundario secundario"
        "terza terza terza terza terza"
        "trb trb trb trb trb"
        "cert cert cert cert cert"
        "ctc ctc ctc ctc ctc"
        ". footer footer footer .";
        .principal{
            .job{
                margin: 70px 0 0 420px;
                font-size: 16px;
            }
            .nombre{
                font-size: 60px;
                margin-top: -14px;
            }
            .tools{
            width: 50%;
            margin-left: 25%;
                img{
                    width: 7%;
                }
            }
        }
        .secundario{
            width: 90%;
            margin: 150px 2.5% 75px 2.5%;
            padding: 25px 2.5%;
            .personal{
                width: 40%;
            }
        }
    }
}