@import "variables";

.navegacion{
    opacity: 0;
    position: fixed;
    background: rgba($color: #000000, $alpha: 0.1);
    backdrop-filter: blur(10px);
    height: 32px;
    padding-top: 8px;
    top: 25px;
    border: 1px solid rgba($color: #000000, $alpha: 0.3);
    border-radius: 20px;
    animation-name: anim-nav;
    animation-duration: 1000ms;
    animation-delay: 250ms;
    animation-fill-mode: forwards;
    z-index: 1;
    ul{
        display: flex;
        justify-content: space-around;
        @for $bt from 1 to 7 {
            #boton-#{$bt}{
                opacity: 0;
                animation-name: opacidad;
                animation-duration: 1000ms;
                animation-delay: (150 * $bt) + 1300ms;
                animation-fill-mode: forwards;
            }
        }
        li{
            list-style: none;
            a{  
                text-decoration: none;
                font-family: $fuente-principal;
                color: $color-6;
                font-size: 16px;
                transition: all 210ms ease-in-out;
                &:hover, &.activo{
                    color: $color-3;
                    font-weight: 900;
                    text-shadow: 3px 3px 6px rgba($color: #fff, $alpha: 0.3);
                }
            }
        }
    }
}
