/*------
PALETA DE COLORES
------*/

$color-1: #001861;
$color-2: #456de6;
$color-3: #0138e0;
$color-4: #1d2e61;
$color-5: #002bad;
$color-6: #fff;



/*------
FUENTES
------*/
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

$fuente-titulos: 'Marcellus', serif;
$fuente-principal: 'Merriweather', serif;